<div class="tabla-container">
  <div class="card vista-card">

    <div class="vista-header">
      <h2 class="perfil-title">Categorías</h2>

      <div class="header-actions">
        <button
          class="btn-tabla-action btn-principal"
          routerLink="/categorias/nueva">

          + Nueva Categoría
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="custom-table">

        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          @for (categoria of categorias(); track categoria.id; let i = $index) {
            <tr [class.row-inactivo]="!categoria.estado">

              <!-- ID visual consecutivo -->
              <td>{{ i + 1 }}</td>

              <td class="fw-semibold">
                {{ categoria.nombre }}
              </td>

              <td>
                @if (categoria.estado) {
                  <span class="custom-badge badge-completado">
                    Activo
                  </span>
                } @else {
                  <span class="custom-badge badge-alerta">
                    Inactivo
                  </span>
                }
              </td>

              <td class="text-center">

                <button
                  class="btn-icon btn-edit me-2"
                  [routerLink]="['/categorias/editar', categoria.id]"
                  title="Editar">

                  <i class="bi bi-pencil-fill"></i>
                </button>

                <button
                  class="btn-icon btn-delete"
                  (click)="eliminar(categoria.id)"
                  title="Eliminar">

                  <i class="bi bi-trash-fill"></i>
                </button>

              </td>

            </tr>
          }
        </tbody>

      </table>
    </div>

  </div>
</div>