<div class="perfil-container">

  <div class="card perfil-card">

    <div class="perfil-header">
      <h2 class="perfil-title">Nuevo Préstamo</h2>
    </div>

    <form (ngSubmit)="guardar()">
      
      <div class="form-group">
        <label class="form-label">Usuario</label>
        <select class="form-input" [(ngModel)]="usuarioId" name="usuarioId">
          <option [ngValue]="0">Seleccione...</option>
          @for (usuario of usuarios(); track usuario.id) {
            <option [ngValue]="usuario.id">{{ usuario.nombreCompleto }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Libro</label>
        <select class="form-input" [(ngModel)]="libroId" name="libroId">
          <option [ngValue]="0">Seleccione...</option>
          @for (libro of libros(); track libro.id) {
            <option [ngValue]="libro.id">{{ libro.titulo }} (Stock: {{ libro.stock }})</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Fecha de devolución</label>
        <input 
          type="date" 
          class="form-input" 
          [(ngModel)]="fechaDevolucion" 
          name="fechaDevolucion" 
          required>
      </div>

      <div class="actions-container">
        <button type="submit" class="btn-modern">
          Registrar Préstamo
        </button>
      </div>

    </form>

  </div>

</div>