<div class="perfil-container">

  <div class="card perfil-card">

    <div class="perfil-header">
      <h2 class="perfil-title">Registrar Nueva Multa</h2>
    </div>

    <form (ngSubmit)="guardar()">

      <div class="form-group">

        <label class="form-label">
          Usuario
        </label>

        <select
          class="form-input"
          [(ngModel)]="usuarioId"
          (change)="onUsuarioChange()"
          name="usuarioId">

          <option [ngValue]="0">
            Seleccione usuario
          </option>

          @for (u of usuarios(); track u.id) {
            <option [ngValue]="u.id">
              {{ u.nombreCompleto }}
            </option>
          }

        </select>

      </div>


      <div class="form-group">

        <label class="form-label">
          Préstamos del usuario
        </label>

        <select
          class="form-input"
          [(ngModel)]="prestamoId"
          name="prestamoId">

          <option [ngValue]="0">
            Seleccione préstamo
          </option>

          @for (p of prestamos(); track p.id) {
            <option [ngValue]="p.id">
              {{ p.libro }} (Prestamo #{{ p.id }})
            </option>
          }

        </select>

      </div>


      <div class="form-group">

        <label class="form-label">
          Motivo
        </label>

        <select
          class="form-input"
          [(ngModel)]="motivo"
          name="motivo"
          (change)="cambiarMotivo()">

          <option value="">
            Seleccione...
          </option>

          <option value="Retraso">
            Retraso
          </option>

          <option value="Daño de material">
            Daño de material
          </option>

          <option value="Manchas o rayones">
            Manchas o rayones
          </option>

          <option value="Pérdida de libro">
            Pérdida de libro
          </option>

          <option value="Otro">
            Otro
          </option>

        </select>

      </div>


      @if (motivo === 'Otro') {

        <div class="form-group">

          <label class="form-label">
            Especifique el motivo
          </label>

          <input
            type="text"
            class="form-input"
            [(ngModel)]="otroMotivo"
            name="otroMotivo"
            placeholder="Escribe la razón de la multa...">

        </div>

      }


      <div class="form-group">

        <label class="form-label">
          Monto (S/)
        </label>

        <input
          type="number"
          class="form-input"
          [(ngModel)]="monto"
          name="monto">

      </div>


      <div class="actions-container">

        <button
          type="button"
          class="btn-modern btn-cancelar"
          routerLink="/multas">

          Cancelar

        </button>


        <button
  type="submit"
  class="btn-modern btn-guardar-verde">

  Guardar Multa

</button>

      </div>


    </form>

  </div>

</div>