<div class="tabla-container">
  <div class="card vista-card">

    <div class="vista-header">
      <h2 class="perfil-title">Usuarios</h2>
      <div class="header-actions">
        <button class="btn-tabla-action btn-principal" routerLink="/usuarios/nuevo">
          Nuevo Usuario
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (usuario of usuarios(); track usuario.id) {
            <tr [class.row-inactivo]="!usuario.estado">
              <td class="fw-semibold">{{ usuario.nombreCompleto }}</td>
              <td>{{ usuario.correo }}</td>
              <td>{{ usuario.rol }}</td>
              <td>
                @if (usuario.estado) {
                  <span class="custom-badge badge-completado">
                    Activo
                  </span>
                } @else {
                  <span class="custom-badge badge-alerta">
                    Inactivo
                  </span>
                }
              </td>
              <td class="text-center">
  <button
    class="btn-icon btn-edit me-2"
    [routerLink]="['/usuarios/editar', usuario.id]"
    title="Editar">

    <i class="bi bi-pencil-fill"></i>
  </button>

  <button
    class="btn-icon btn-delete"
    (click)="eliminar(usuario.id)"
    title="Eliminar">

    <i class="bi bi-trash-fill"></i>
  </button>
</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</div>