<nav class="bib-nav">
  <div class="bib-nav-left">
    <a class="bib-brand" routerLink="/dashboard">BitCoraPerú</a>
    <div class="bib-links">
      <a class="bib-link" routerLink="/dashboard">Dashboard</a>
      <a class="bib-link" routerLink="/libros">Libros</a>
      @if (auth.puedeGestionarPrestamos()) {
        <a class="bib-link" routerLink="/prestamos">Préstamos</a>
      }
      @if (auth.esAdministrador()) {
        <a class="bib-link" routerLink="/usuarios">Usuarios</a>
      }
      @if (auth.esAdministrador() || auth.esBibliotecario()) {
        <a class="bib-link" routerLink="/multas">Multas</a>
      }
      @if (auth.esAdministrador() || auth.esBibliotecario()) {
        <a class="bib-link" routerLink="/resenas">Reseñas</a>
      }
      @if (auth.esAdministrador()) {
        <a
          class="bib-link" routerLink="/categorias">Categorías</a>
      }
    </div>
  </div>
  <div class="bib-nav-right">
    <span class="bib-rol">{{ auth.getRol() }}</span>
    <a class="bib-link" routerLink="/perfil">
  Mi Perfil
</a>
    <button class="bib-logout" (click)="logout()">Salir</button>
  </div>
</nav>