<div class="container mt-4">

  <div
    class="d-flex justify-content-between align-items-center mb-3">

    <h2>
      Préstamos
    </h2>

        <a
  routerLink="/prestamos/nuevo"
  class="btn btn-primary">

  Nuevo préstamo

</a>
  </div>

  <table
    class="table table-striped table-bordered">

    <thead>

      <tr>

        <th>Libro</th>

        <th>Usuario</th>

        <th>Fecha Préstamo</th>

        <th>Fecha Máxima</th>

        <th>Estado</th>

        <th>Acción</th>

      </tr>

    </thead>

    <tbody>

      @for (
        prestamo of prestamos();
        track prestamo.id
      ) {

        <tr>

          <td>
            {{ prestamo.libro }}
          </td>

          <td>
            {{ prestamo.usuario }}
          </td>

          <td>
            {{ prestamo.fechaPrestamo | date:'dd/MM/yyyy' }}
          </td>

          <td>
            {{ prestamo.fechaDevolucionMaxima | date:'dd/MM/yyyy' }}
          </td>

          <td>

            <span
              class="badge"
              [class.bg-success]="prestamo.estado === 'Devuelto'"
              [class.bg-warning]="prestamo.estado !== 'Devuelto'">

              {{ prestamo.estado }}

            </span>

          </td>

          <td>

            @if (
              prestamo.estado !== 'Devuelto'
            ) {

              <button
                class="btn btn-success btn-sm"
                (click)="devolver(prestamo.id)">

                Devolver

              </button>

            }

          </td>

        </tr>

      }

    </tbody>

  </table>

</div>