<div class="container mt-4">
  <h2>📚 Catálogo de Libros</h2>
  <hr>
  <input class="form-control mb-4" placeholder="Buscar por título o autor..." [ngModel]="filtro()" (ngModelChange)="filtro.set($event)">
  <div class="d-flex gap-2 mb-3">
    @if (authService.esAdministrador()) {
      <button class="btn btn-primary" routerLink="/libros/nuevo">+ Nuevo Libro</button>
    }
    @if (authService.esAdministrador() || authService.getRol() === 'Bibliotecario') {
      <button class="btn btn-danger" (click)="generarPdf()">📄 Exportar PDF</button>
    }
  </div>
  <div class="row">
    @for (libro of librosFiltrados(); track libro.id) {
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm">
          <img [src]="obtenerImagen(libro.urlImagen)" class="card-img-top" style="height: 280px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ libro.titulo }}</h5>
            <p class="card-text"><strong>Autor:</strong> {{ libro.autor }}</p>
            <p class="card-text"><strong>Stock:</strong> {{ libro.stock }}</p>
            <div class="mb-2">
              <strong>Calificación:</strong>
              @if(libro.cantidadResenas > 0) {
                <span class="text-warning fs-5">{{ '⭐'.repeat(libro.promedioEstrellas) }}</span>
                <small class="text-muted">({{ libro.promedioEstrellas }}/5)</small>
                <br>
                <small class="text-secondary">{{ libro.cantidadResenas }} reseña(s)</small>
              } @else {
                <small class="text-muted">Sin reseñas</small>
              }
            </div>
            @if (authService.esAdministrador()) {
              <button class="btn btn-warning btn-sm mt-2" [routerLink]="['/libros/editar', libro.id]">Editar</button>
            }
            @if (authService.esAdministrador()) {
              <button class="btn btn-danger btn-sm mt-2 ms-2" (click)="eliminar(libro.id)">Eliminar</button>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>